/*Fuentes*/
@font-face{
    font-family:"TrebuchetMs";
    src:url(fonts/TrebuchetMs.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Bebasneue";
    src: url(fonts/Bebasneue.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "webSymbolsRegular";
    src: url(fonts/webSymbols-regular-webfont.eot);
    src: url(fonts/webSymbols-regular-webfont.eot?#iefix) format(embedded-opentype),
         url(fonts/webSymbols-regular-webfont.woff) format(woff),
         url(fonts/webSymbols-regular-webfont.ttf)format(truetype),
         url(fonts/webSymbols-regular-webfont.svg#WebSymbolsregular) format(svg);
         font-weight: normal;
         font-style: normal;
}
.Gear{
    font-family:'webSymbolsRegular';
}