body{
    background: #040736;
    
}
*{
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background: #040520;
    padding: 10px;
    text-align: center;
    margin: 10PX;
}
a{
    font-size: 18px;
    text-decoration: none;
}
nav a{
    font-size: 20px;
}
h2{
    text-align: center;
    font-size: 45px;
    margin: 10px;
}
article img {
    margin: 20px;
}
main{
    margin: 15px;
}
section div h2{
    background: #040520;
    padding: 10px;
    text-align: center;
    margin: 10PX;
}
h3{
    text-align: center;
    font-size: 40px;
    margin: 15px;
}
p{
    font-size: 30px;
    margin: 15px;
    
}
h4{
    font-size: 25px;
}
ul{
    margin: 30px;
    font-size: 30px;
}
