*{
  
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    font-size: 20px;
    width: 200px;
    text-align: center;
    padding: 5px;
    list-style: none;
    
}

a{
 text-decoration: none;
 font-size: 25px;
 color: black;
}
h1{
  text-align: center;

}
 .borde {
border-width:10px ;
border-color: black;
 }
header  h1{
    padding: 10px;
    text-align: center;
    margin: 10PX; 
}